@tailwind base;
@tailwind components;
@tailwind utilities;
*{-webkit-tap-highlight-color:transparent;box-sizing:border-box}
body{margin:0;background:#E8F0FE;font-family:'DM Sans',sans-serif;-webkit-font-smoothing:antialiased}
::-webkit-scrollbar{display:none}
*{scrollbar-width:none}
